DEBUG=True
SECRET_KEY=API-KEY
DATABASE_URL=postgresql://username:password@host/db-name?sslmode=require&channel_binding=require
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
SIMPLE_JWT_ACCESS_TOKEN_LIFETIME_MINUTES=15
SIMPLE_JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
